.container {
    max-width: calc(100% - 40px); 
    margin: 20px auto;
    padding: 25px; 
    background-color: #383377; 
    color: #FFFFFF; 
    text-align: center; 
    font-size: 22px; 
    font-family: 'Courier New'; 
    overflow: hidden; 
}

.additional-info {
    font-size: 22px;
    margin-top: 50px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.additional {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.add {
    margin-top: 50px; 
    padding-left: 10%; 
    padding-right: 10%;
    font-size: 22px;
}

.image-container {
    display: flex;
    justify-content: center;
    
    height: 600px; 
}

.image-container img {
    width: 50%; 
    height: auto; 
    max-width: 100%; 
    max-height: 100%; 
    margin-top: 20px; 
}

.one {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.two {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.three {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.Contributing {
    font-size: 22px;
    margin-top: 50px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.a {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.list {
    font-size: 15px;
    margin-top: 20px; 
    margin-left: calc(10% + 50px);
    padding-right: 10%;
}

.b {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.list-two {
    font-size: 15px;
    margin-top: 20px; 
    margin-left: calc(10% + 50px);
    padding-right: 10%;
}

.Development {
    font-size: 22px;
    margin-top: 50px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.c {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.list-three {
    font-size: 15px;
    margin-top: 20px; 
    margin-left: calc(10% + 50px);
    padding-right: 10%;
}

.d {
    font-size: 15px;
    margin-top: 20px; 
    padding-left: 10%; 
    padding-right: 10%;
}

.container-two {
    max-width: calc(100% - 40px); 
    margin: 20px auto;
    padding: 20px; 
    background-color: #333333; 
    color: #FFFFFF; 
    text-align: center; 
    font-size: 22px; 
    font-family: 'Courier New'; 
    overflow: hidden; 
    margin-top: 50px;
}

.container-three {
    max-width: calc(100% - 40px); 
    margin: 20px auto;
    padding: 20px; 
    background-color: #333333;
    color: #FFFFFF; 
    text-align: center;
    font-size: 13px;
    font-family: 'Courier New';
    overflow: hidden; 
    margin-top: 50px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icon-one {
    width: 45px; 
    height: 45px; 
    background-color: #383377; 
    border-radius: 50%; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-right: 40px;
}

.icon-two {
    width: 45px; 
    height: 45px; 
    background-color: #383377; 
    border-radius: 50%; 
    padding: 10px; 
    box-sizing: border-box; 
    margin-right: 40px;
}

.icon-three {
    width: 45px; 
    height: 45px; 
    background-color: #383377; 
    border-radius: 50%; 
    padding: 10px; 
    box-sizing: border-box; 
}

.white-link {
    color: white; 
    text-decoration: none; 
}
