@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    color:  #4f626b;

    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
  
.container {
    display: flex;
    height: 100%;
}
  
.left {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.t2{
    font-weight: 400;
}
.s1{
    background-color: #03A9F4;
}
  
.left img {
    max-width: 100%;
    max-height: 100%;
}
  
.right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

  
form {
    width: 100%;
    max-width: 400px;
    text-align: left;
}
  
  
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.check{
    display: flex; 
    margin-right: 20px;
    text-align: center;
    font-size: 11px;
    padding: 20px;
}
  
button[type="submit"] {
    width: 100%;
    padding: 10px 20px;
    background-color:  #03A9F4;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button[type="submit"], .twitter-button, .facebook-button, .instagram-button{
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color:#03A9F4;
}
.social {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 400px;
    color: #4f626b;


    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
.social button {
    margin-top: 10px;
    background-color: #fff;
}
.social img{
    width: 20px;
    margin-right: 10px;
}